<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'SmartCommunity_1622441019/style_1622441019.css' %}" />

	<title>Smart Community</title>
</head>
<body>
    <div id="header">
			{% include "SmartCommunity_1622441019/header.html" %}
			<h3> Add new issues </h3>
    </div>

    <div id="contentfirst">
        {% if request.session.logged == 1 %}
        <form action="/addissue/" method="post" id="loginForm">
                {{ form.as_table }}
            <input type="submit" value="Add issue"/>
            
        </form>
        {% else %}
            Only Member or Volunteer have access to this page!
        {% endif %}
	</div>

    {% include "SmartCommunity_1622441019/footer.html" %}
</body>
</html>
