<!DOCTYPE HTML>
<html lang="en">
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'SmartCommunity_1622441019/style_2.css' %}" />

	<title>Smart Community</title>
</head>

<body>
	<div id="header">
			{% include "SmartCommunity_1622441019/header.html" %}
			<h3> Create admin account </h3>
	</div>
	<div id="contentfirst">
		<div id="loginForm">
				{% if request.session.logged == 2 %}
					<form method="post">
					{% csrf_token %}
					{{ form.as_p}}
					<input type="submit" value="Create account"/>
					</form>
				{% else %}
					Only administrators have access to this page!
				{% endif %}
		</div>
	</div>
	{% include "SmartCommunity_1622441019/footer.html" %}
</body>
	</html>
