<!DOCTYPE HTML>
<html>
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'SmartCommunity_1622441019/style_1622441019.css' %}" />

	<title>Smart Community</title>
</head>

<body>
	<div id="header">
			{% include "SmartCommunity_1622441019/header.html" %}
			<h3> User profile - {{ request.session.user }} </h3>
	</div>
	<div id="contentfirst">
		<div id="loginForm">
				{% if request.session.logged == 1%}
					<form method="post">
					{% csrf_token %}
					{{ form.as_table }}
					<input type="submit" value="Save changes"/>
					</form>
				{% else %}
					Login to edit your details
				{% endif %}
		</div>
	</div>
	{% include "SmartCommunity_1622441019/footer.html" %}
</body>
</html>
