<h1> <a href="/" >Smart Community </a></h1>

<div id="menu">
    {% if not request.session.logged %}
    <a href="/login/"> Login </a>
    <a href="/register/"> Register </a>
    {% elif request.session.logged %}
    <a href="/result/"> Search </a>
    <a href="/help/"> Help </a>
    <a href="/user"> Edit Profile </a>
        {% if request.session.logged  == 2 %}
            <a href="/admin/add_info"> Add Providers </a>
            <a href="/admin/create"> Create Admins </a>
        {% endif %}
    <a href="/logout/"> Log out </a>
    {% endif %}
</div>
