<!DOCTYPE HTML>
<html lang="en">
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'SmartCommunity_1622441019/style_1622441019.css' %}" />

	<title>Smart Community</title>
</head>

<body>
	<div id="header">
			{% include "SmartCommunity_1622441019/header.html" %}
			<h3> Welcome to Smart Community </h3>
	</div>
	<div id="welcome">
		{% if request.session.logged == 1%}
		<p/>Welcome {{ request.session.user }}.
		<p/> You're a {{ request.session.type }}
		{% elif not request.session.logged %}
		<a href="/login/"> Login </a><p/>
		<a href="/register/"> Register </a><p/>
		{% elif request.session.logged == 2 %}
		Welcome Administrator.
		{% endif %}
	</div>
	{% include "SmartCommunity_1622441019/footer.html" %}
</body>
</html>
