<!DOCTYPE HTML>
<html lang="en">
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'SmartCommunity_1622441019/style_1622441019.css' %}" />

	<title>Smart Community</title>
</head>


<body>
	<div id="header">
		{% include "SmartCommunity_1622441019/header.html" %}
		<h3>{{ info.name }}</h3>
	</div>

    <div id="contentleft">
        <div class="data">
			<h3>Provider ID</h3>
			<p>{{ info.providerID }}</p>
		</div>
		<div class="data">
			<h3>Name</h3>
			<p>{{ info.providerName }}</p>
		</div>
	</div>
	<div id="contentmiddle">
		<div class="data">
			<h3>Email Address</h3>
			<p>{{ info.emailAddress }}</p>
		</div>
		<div class="data">
			<h3>Phone Number</h3>
			<p>{{ info.phoneNumber }}</p>
		</div>
	</div>

	<div id="contentright">
		<div class="data">
			<h3>Provider Type</h3>
			<p>{{ info.providerType }}</p>
		</div>
		<div class="data">
			<h3>Price</h3>
			<p>{{ info.providerPrice }}</p>
		</div>
	</div>

{% include "SmartCommunity_1622441019/footer.html" %}
</body>
</html>





