<!DOCTYPE HTML>
<html lang="en">
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'SmartCommunity_1622441019/style_1622441019.css' %}" />

	<title>Smart Community</title>
</head>

<body>
	<div id="header">
			{% include "SmartCommunity_1622441019/header.html" %}
			<h3> Register </h3>
	</div>
	<div id="contentfirst">
		<div id="loginForm">
				{% if not request.session.logged %}
					<form action="/register/" method="post">
					{% csrf_token %}
					{{ form.as_p}}
					<input type="submit" value="Register"/>
					</form>
				{% elif request.session.logged %}
					Logout to create a new account.
				{% endif %}
		</div>
	</div>
	{% include "SmartCommunity_1622441019/footer.html" %}
</body>
	</html>
