<!DOCTYPE HTML>
<html lang="en">
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'SmartCommunity_1622441019/style_1622441019.css' %}" />

	<title>Smart Community</title>
</head>

<body>
	<div id="header">
		{% include "SmartCommunity_1622441019/header.html" %}
		<h3>You're Viewing Volunteer Results</h3>
	</div>
	<div id="contentfirst">
		<table>
			<th class="left">Name</th>
			<th class="left">Email</th>
			<th>Phone</th>
			<th>Type</th>

        {% for item in volunteer_info %}
        <tr>
            <td class="left">{{ item.firstName }} {{ item.lastName }}</td>
            <td class="left">{{ item.emailAddress }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>{{ item.userType }}</td>
        </tr>
        {% endfor %}
        </table>
	</div>
	</p>

	{% include "SmartCommunity_1622441019/footer.html" %}
</body>
</html>
